.logo {
  width: 85px;
  height: 58px;
}

.sidenav {
  width: 349px;
}

.logo-container {
  padding: 10px 10px 0px 10px;
}

.non-clickable {
  cursor: default;
}

.icon {
  color: rgba(0, 0, 0, 0.7); /* Color gris */
  margin-right: 12px; /* Espaciado a la derecha del icono */
}

.sidenav {
  border-radius: 15px; /* Ajusta el valor según sea necesario */
  margin-left: 0; /* Elimina el margen izquierdo */
  background-color: var(
    --primary-color
  ); /* Utiliza el color primario como fondo */
}

.sidenav-container {
  margin: 0 !important;
  padding: 0 !important;
}
