<app-menu></app-menu>
<div class="main-content">
  <div class="container">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title class="title mat-typography">Usuarios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="number mat-typography">123</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title class="title mat-typography">Alarmas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="number mat-typography">456</div>
      </mat-card-content>
    </mat-card>
  </div>
  <app-dashboard-table></app-dashboard-table>
</div>
